# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# SIMPL Windows files
*.smw
*.smw.ASV
*.lpz.hash
*.dip
*.smft
*archive.zip
*.sm2
*.smw.err
*.arcv
*.Core3.hash
*.usp
*.ush
*.umc

# VTPro files
*.vtp.ASV
*VTZ.hash
*.ced
*.sgd*
*.Core3z

# directories
**/SPlsWork
